@import "../../assets/sass/index";

.container-projects {
    background: linear-gradient(
      26.18deg,
      #d6e2f9 6.13%,
      #e3d4e9 37.89%,
      #d6e2f9 73.93%,
      #f4f6fa 87.71%
    );
  }


.card-content{
    display: flex;
    row-gap: 1.4rem;
    flex-direction: column;
}

.name {
    font-size: 1.3rem;
    @include sm {
      font-size: 2.3rem;
    }
    @include md {
      font-size: 3.5rem;
    }
    @include lg {
      font-size: 4.5rem;
    }
  }

  .image {
    border-radius: $custom-border-radius;
  }