@import "../../../assets/sass/index";

.icon {
  width: 2.5rem;
  height: 2.5rem;
  @include md {
    width: 4rem;
    height: 4rem;
  }
  &--container {
    background-color: white;
    &:hover {
      background-color: rgb(242, 242, 242) !important;
    }
  }
}

