@import "../../../assets/sass/index";

ul {
  margin: 0;

  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  @include md {
    grid-template-columns: 1fr 1fr;
  }
  @include lg {
    grid-template-columns: 1fr 1fr 1fr;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
