@import "../../../assets/sass/index";

.header {
  display: flex;
  justify-content: flex-end;
  // position: absolute;
  // top: 3rem;
  // right: 3rem;
}

.divider {
  flex-grow: 1;
  border-bottom: 1px solid $dark-color;
  margin: 5px;
}

.actions {
  display: none;
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-size: 0.5rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  @include md {
    display: flex;
    font-size: 0.9rem;
    width: 65%;
  }
  @include lg {
    font-size: 1rem;
    width: 50%;
  }
  @include xxl {
    width: 40%;
    font-size: 1.5rem;
    top: 4rem;
    right: 4rem;
  }
}

.text {
  cursor: pointer;
  &:hover {
    color: white;
    transition: 0.5s left ease-in-out;
  }
}
