@import "../../assets/sass/index";

.container-card {
  background-color: white;
}

.container-contact {
  background: linear-gradient(65.41deg, #FFFFFF 2.18%, #D6E2F9 39.86%, #E3D4E9 86.27%);
  margin-top: 2rem;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  color: black;
  @include md {
    grid-template-columns: 1fr 0.6fr;
    column-gap: 3rem;
  }
}

.link-wrapper {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.icon {
  width: 3rem;
  padding: 0.5rem;
}

.contact-link {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 0.8rem;
  @include md {
    font-size: 1rem;
  }
}
