@import "../../assets/sass/index";

.container-card {
    background-color: white;
}

.container-projects {
  background: linear-gradient(
    26.18deg,
    #d6e2f9 6.13%,
    #e3d4e9 37.89%,
    #d6e2f9 73.93%,
    #f4f6fa 87.71%
  );
}

.form-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  @include md {
    grid-template-columns: 1fr 0.6fr;
    column-gap: 6rem;
  }
}


.link-wrapper {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.icon {
  width: 3rem;
  padding: 0.5rem;
}

.contact-link {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 0.8rem;
  @include md {
    font-size: 1rem;
  }
}