@import "../../../assets/sass/index";

.img {
  &-sparkles {
    width: 3rem;
    height: 2rem;
    @include sm {
      width: 4rem;
      height: 3rem;
    }
    @include md {
      width: 5rem;
      height: 4rem;
    }
    @include xxl {
      width: 6rem;
      height: 5rem;
    }
  }
}
