.fade_in {
    animation: fade_in 1s ease-in-out;
  }
  
  @keyframes fade_in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }